
<div *ngIf="nationality">
    <h2><span jhiTranslate="s1App.nationality.detail.title">Nationality</span> {{nationality.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="s1App.nationality.code">Code</span></dt>
        <dd>
            <span>{{nationality.code}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.nationality.name">Name</span></dt>
        <dd>
            <span>{{nationality.name}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.nationality.description">Description</span></dt>
        <dd>
            <span>{{nationality.description}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.nationality.activeFlag">Active Flag</span></dt>
        <dd>
            <span>{{nationality.activeFlag}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.nationality.tenantId">Tenant Id</span></dt>
        <dd>
            <span>{{nationality.tenantId}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.nationality.companyCode">Company Code</span></dt>
        <dd>
            <span>{{nationality.companyCode}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'nationality/'+ nationality.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
