
<div *ngIf="candidate">
    <h2><span jhiTranslate="s1App.candidate.detail.title">Candidate</span> {{candidate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="s1App.candidate.code">Code</span></dt>
        <dd>
            <span>{{candidate.code}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.firstName">First Name</span></dt>
        <dd>
            <span>{{candidate.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.middleName">Middle Name</span></dt>
        <dd>
            <span>{{candidate.middleName}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.lastName">Last Name</span></dt>
        <dd>
            <span>{{candidate.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.birthDate">Birth Date</span></dt>
        <dd>
            <span>{{candidate.birthDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.personalEmail">Personal Email</span></dt>
        <dd>
            <span>{{candidate.personalEmail}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.mobileNumber">Mobile Number</span></dt>
        <dd>
            <span>{{candidate.mobileNumber}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{candidate.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.activeFlag">Active Flag</span></dt>
        <dd>
            <span>{{candidate.activeFlag}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.tenantId">Tenant Id</span></dt>
        <dd>
            <span>{{candidate.tenantId}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.companyCode">Company Code</span></dt>
        <dd>
            <span>{{candidate.companyCode}}</span>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.prefix">Prefix</span></dt>
        <dd>
            <div *ngIf="candidate.prefix">
                <a [routerLink]="['/prefix', candidate.prefix?.id]">{{candidate.prefix?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.gender">Gender</span></dt>
        <dd>
            <div *ngIf="candidate.gender">
                <a [routerLink]="['/gender', candidate.gender?.id]">{{candidate.gender?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.bloodType">Blood Type</span></dt>
        <dd>
            <div *ngIf="candidate.bloodType">
                <a [routerLink]="['/blood-type', candidate.bloodType?.id]">{{candidate.bloodType?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.nationality">Nationality</span></dt>
        <dd>
            <div *ngIf="candidate.nationality">
                <a [routerLink]="['/nationality', candidate.nationality?.id]">{{candidate.nationality?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.race">Race</span></dt>
        <dd>
            <div *ngIf="candidate.race">
                <a [routerLink]="['/race', candidate.race?.id]">{{candidate.race?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.religion">Religion</span></dt>
        <dd>
            <div *ngIf="candidate.religion">
                <a [routerLink]="['/religion', candidate.religion?.id]">{{candidate.religion?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.militaryStatus">Military Status</span></dt>
        <dd>
            <div *ngIf="candidate.militaryStatus">
                <a [routerLink]="['/military-status', candidate.militaryStatus?.id]">{{candidate.militaryStatus?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="s1App.candidate.maritalStatus">Marital Status</span></dt>
        <dd>
            <div *ngIf="candidate.maritalStatus">
                <a [routerLink]="['/marital-status', candidate.maritalStatus?.id]">{{candidate.maritalStatus?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'candidate/'+ candidate.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
